nav {
  margin: 10px 0px 10px 0;

}

.card{
  width: 15rem;
  padding: 20px;
  margin: 10px 10px 10px 10px;
}



.fa-star{
  color: orange;
}

.nav-item{
  margin: 0 20px 0 10px;
}
.navbar-nav{
  padding-right: 30px;
}

.nav-item > a{
  color: white;
}

.homeImg{
  max-width: 100%;
  height: auto;
}

.carousel-item{
  height: 40rem;
  background-color: black;
  position: relative;

}

.overlay-image{
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background-position: center;
  background-size: cover;
  opacity: 0.7;
}

.corosoul-title{
  color:rgb(255, 255, 255) !important;

}

/* .corosoul-1{
  background-image: url('corosoul1.jpg');
} */