nav {
  margin: 10px 0px 10px 0;
}

.card{
  width: 15rem;

  padding: 20px;
  margin: 10px 10px 10px 10px;
}



.fa-star{
  color: orange;
}

.nav-item{
  margin: 0 20px 0 10px;
}
.navbar-nav{
  padding-right: 30px;
}

.nav-item > a{
  color: white;
}

.homeImg{
  max-width: 100%;
  height: auto;
}

.carousel{
  height: 200px;
}